<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <%- include ('../partials/head') %>
</head>

<body>
  <style>
    body {
      background-image: url('img/Back\ sesión.jpg');
    }
  </style>
  <%- include ('../partials/header') %>
  <main>

    <h1 class="h1form">Iniciar sesión</h1>

    <form action="/login" method="POST" class="formulario">

      <label class="labelForm">E-mail</label>
      <div class="mensaje">
      <input type="text" class="control" name="email" placeholder="Ingrese su dirección de E-mail" class="<%= (locals.errors && errors.email) ? 'is-invalid' : null %> form-control email"
      value="<%= (locals.oldData) ? oldData.email : null %>" required>
      <% if (locals.errors && errors.email) { %>
        <span class="feedback"> <%= errors.email.msg %> </span>
        <% } %>
      </div>
      <label class="labelForm">Contraseña</label>
      <input type="password" class="control" name="password" placeholder="Ingrese su Contraseña" class="<%= (locals.errors && errors.password) ? 'is-invalid' : null %> form-control password" required>
      <% if (locals.errors && errors.password) { %>
        <span class="feedback"> <%= errors.password.msg %> </span>
        <% } %>
      <br>
      <button type="submit" class="buttons" href="/views/register.html">Iniciar Sesión</button>
      <br><br>
      <p><a class="pass" href="#">¿Olvidó su contraseña?</a></p>
      <br>
      <button class="buttons" action='register' type="submit"><a class="buttonCuenta" href="login/register">Crear Cuenta</a></button>

    </form>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>