<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Perfil de usuario</title>
  <%- include ('../partials/head', {title: "Profile"}) %>
  </head>
  <body>
    <%- include ('../partials/header') %>
    <video class="video" preload="auto" autoplay loop muted>
      <source src="../../img/home.mp4" type="video/mp4">
      <source src="../../img/home.mp4" btnvertype="video/webm">
      <source src="../../img/home.mp4" type="video/ogg">
  </video>
    <main class="profile">

      <h1 class="h1form">Perfil</h1>

      <h2>Bienvenido <%= user.nombre %></h2>
      <br>
      <h3><%= user.email %></h3>
      <br><br>
      <button class="buttons"><a class="buttonEdit" href="/login/editar/<%= user.user_id %>">Editar usuario</a></button>

      <br>
      <button class="buttons"><a class="buttonLogout" href="/login/logout">Cerrar sesión</a></button>
    </main>
  </body>
  <%- include('../partials/footer') %>
</html>
