<!DOCTYPE html>
<html>

<head>
  <title>Registro</title>
  <meta charset="utf-8">
  <%- include ('../partials/head') %>
</head>

<body>
  <style>
    body {
      background-image: url('/img/Back\ register.jpg');
    }
  </style>
  <%- include ('../partials/header') %>
  </nav>
  <main class="main">
    <h1 class="h1form">Crea tu cuenta</h1>

    <form action="/login/register" method="POST" class="formulario">
      <label class="labelForm">Nombre</label>
      <input type="text" class="control" name="nombre" placeholder="Ingrese su nombre" class="<%= (locals.errors && errors.nombre) ? 'is-invalid' : null %> nombre"
      value="<%= (locals.oldData) ? oldData.nombre : null %>" required>
      <% if (locals.errors && errors.nombre) { %> <span class="feedback">
    <%= errors.nombre.msg %> </span>
<% } %>
    </div>
      <label class="labelForm">Apellido</label>
      <input type="text" class="control" name="apellido" placeholder="Ingrese su apellido" class="<%= (locals.errors && errors.apellido) ? 'is-invalid' : null %> apellido"
      value="<%= (locals.oldData) ? oldData.apellido : null %>"  required>
      <% if (locals.errors && errors.apellido) { %> <span class="feedback">
        <%= errors.apellido.msg %> </span>
    <% } %>
    </div>
      <label class="labelForm">E-mail</label>
      <input type="text" class="control" name="email" placeholder="Ingrese su E-mail" class="<%= (locals.errors && errors.email) ? 'is-invalid' : null %> email"
      value="<%= (locals.oldData) ? oldData.email : null %>" required>
      <% if (locals.errors && errors.email) { %> <span class="feedback">
        <%= errors.email.msg %> </span>
    <% } %>
    </div>
      <label class="labelForm">Contraseña</label>
      <input type="password" class="control" name="password" placeholder="Ingrese su contraseña" class="<%= (locals.errors && errors.password) ? 'is-invalid' : null %> password" required>
      <% if (locals.errors && errors.password) { %> <span class="feedback">
        <%= errors.password.msg %> </span>
    <% } %>
    </div>
    <br>
      <button type="submit" class="buttons" >Crear Cuenta</button>
    </form>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>