<!DOCTYPE html>
<html>

<head>
  <title>Registro</title>
  <meta charset="utf-8">
  <%- include ('../partials/head') %>
</head>

<body>
  <style>
    body {
      background-image: url('/img/Back\ register.jpg');
    }
  </style>
  <%- include ('../partials/header') %>
  </nav>
  <main class="main">
    <h1 class="h1form">Edición del usuario <%= user.nombre %></h1>
    
    <form action="/login/editar/<%= user.user_id %>" method="POST" class="formulario">
      <label class="labelForm">Nombre</label>
      <input type="text" class="control" name="nombre" placeholder="Ingrese su Nombre" class="<%= (locals.errors && errors.nombre) ? 'is-invalid' : null %> nombre"
      value="<%= user.nombre %>" >
      <% if (locals.errors && errors.nombre) { %> <span class="feedback">
    <%= errors.nombre.msg %> </span>
<% } %>
    </div>
      <label class="labelForm">Apellido</label>
      <input type="text" class="control" name="apellido" placeholder="Ingrese su Apellido" class="<%= (locals.errors && errors.apellido) ? 'is-invalid' : null %> apellido"
      value="<%= user.apellido %>">
      <% if (locals.errors && errors.apellido) { %> <span class="feedback">
        <%= errors.apellido.msg %> </span>
    <% } %>
    </div>
      <label class="labelForm">E-mail</label>
      <input type="email" class="control" name="email" placeholder="Ingrese su Email" class="<%= (locals.errors && errors.email) ? 'is-invalid' : null %> email"
      value="<%= user.email %>">
      <% if (locals.errors && errors.email) { %> <span class="feedback">
        <%= errors.email.msg %> </span>
    <% } %>
    </div>
      
    </div>
<br>
      <div><button type="submit" class="buttons" >Actualizar</button>
       <button class="buttons"><a class="buttonCuenta" href="/login/logout">Cerrar sesión</button>

      </div>

    </form>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>