<!DOCTYPE html>
<html>

<head>
  <title>Asic</title>
  <%- include('../partials/head') %>
</head>

<body>
  <style>
  </style>
  <%- include ('../partials/header') %>
  <main>
    <video class="video" preload="auto" autoplay loop muted>
      <source src="../img/detail.mp4" type="video/mp4">
      <source src="../img/detail.mp4" btnvertype="video/webm">
      <source src="../img/detail.mp4" type="video/ogg">
  </video>
    <div class="Productos">
      <div class="espacioProducto">
        <img src="../img/asic/<%=asics.image %>"class="avatarproducto" alt="La imagen no pudo cargar correctamente">
      </div>
      <div class="textoProductos">
        <h1><%=asics.titulo%></h1>
        <br>
        <h2>Especificaciones:</h2>
        <p class="textoEspec"><%=asics.especificaciones%></p>
        <h2 class="h2Detail">Precio:</h2>
        <h3>US$<%=asics.precio%></h3>
        <br>
        <% if (locals.userLogged) { %>
          <a class="form1">
          <form action="/carrito/<%=asics.id_asic%>" method="POST" class="product-cart-form">
        <input type="number" name="cantidad" value="1" required min="1">
          <button class="buttons" type="submit" value="sumarAlCarrito">
           Comprar
          </button></a>
          <% console.log(asics) %>
        </a>
        </form>
          <% } %>
          <br>
          <% if (locals.userLogged && locals.userLogged.rol===0) { %>
            <a class="form1" href="/asic/editar/<%=asics.id_asic%>">
              <button class="buttons">
                Editar ASIC
              </button></a>
            <% } %>
        <br>
      </div>
    </div>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>