<!DOCTYPE html>
<html>

<head>
  <title>Asic</title>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include ('../partials/header') %>

  <main>
    <video class="video" preload="auto" autoplay loop muted>
      <source src="img/home.mp4" type="video/mp4">
      <source src="img/home.mp4" btnvertype="video/webm">
      <source src="img/home.mp4" type="video/ogg">
  </video>

  <h1 class="h1form">ASIC para BTC/BCH/BSV | SHA256  </h1>
  <br>
  <section class="product"> 
    <button class="pre-btn"><img src="img/flecha.svg" alt=""></button>
    <button class="nxt-btn"><img src="img/flecha.svg" alt=""></button>
    <div class="product-container">
      <% for (let i = 0; i < asics.length; i++) { %>
        <div class="product-card">
            <div class="product-image2">
              <img src="../img/asic/<%=asics[i].image %>" class="product-thumb" alt="">
                <button class="card-btn"><a href="/asic/<%=asics[i].id_asic%>">Ver más</button></a>
            </div>
            <div class="product-info">
                <h2 class="product-brand"><%=asics[i].titulo %></h2>
                <p class="product-short-description"><%=asics[i].especificaciones %></p>
                <span class="price2"><%=asics[i].precio %></span>
            </div>
        </div>
        <% } %>
    </div>
      </section>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
  <script>
    const productContainers = [...document.querySelectorAll('.product-container')];
const nxtBtn = [...document.querySelectorAll('.nxt-btn')];
const preBtn = [...document.querySelectorAll('.pre-btn')];

productContainers.forEach((item, i) => {
    let containerDimensions = item.getBoundingClientRect();
    let containerWidth = containerDimensions.width;

    nxtBtn[i].addEventListener('click', () => {
        item.scrollLeft += containerWidth;
    })

    preBtn[i].addEventListener('click', () => {
        item.scrollLeft -= containerWidth;
    })
})
  </script>
</body>

</html>