<!DOCTYPE html>
<html>

<head>
  <title>Asic</title>
  <meta charset="utf-8">
  <%- include('../partials/head') %>
</head>

<body>
  <style>
    body {
      background-image: url('img/Back - home.jpg');
    }
  </style>
  <%- include ('../partials/header') %>
  <main>
<h1>Listado de ASIC</h1>
<ul>
  <% for (let i = 0; i < asics.length; i++) { %>
    <li>
      <a href="/asic/<%=asics[i].id_asic%>">
      <%=asics[i].image %>
      <%=asics[i].titulo %>
    </a>
    </li>
 <% } %>
</ul>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>