<!DOCTYPE html>
<html>

<head>
  <title>Rigs</title>
  <%- include('../partials/head') %>
</head>

<body>
  <style>
    body {
      background-image: url('../img/Back - home.jpg');
    }
  </style>
  <%- include ('../partials/header') %>

  <main>
    <h1>Listado de RIGS</h1>
    <ul>
      <% for (let i = 0; i < rigs.length; i++) { %>
        <li>
          <a href="/rig/<%=rigs[i].id_rigs%>"> </a>
          <img src="<%=rigs[i].image %>">
          <%=rigs[i].titulo %>
          <%=rigs[i].precio %>
          <%=rigs[i].especificaciones %>
        </li>
     <% } %>
    </ul>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>